h1{
    background-color: black;
    color: white;
}

.allo{
    font-size: 2rem;
}

.police{
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
}

.policeMax{
    font-size: 10rem;
    color: green;
    background-color: yellow;
    padding: 1rem;
}